* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.top-100 {
  margin-top: 100px;
}
.iphone-section{
  background-image: url(../images/home/iphone11-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: cover;
  background-size: cover;
  height: 500px;
  min-height: 560px;
}